<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinalProject.Data.Properties.Settings.AIUBVuesConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\_ShadmaN_\Documents\Visual Studio 2013\Projects\WindowsFormsApplication8\WindowsFormsApplication8\bin\Debug\AIUBVues.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="FinalProject.Data.Properties.Settings.AIUBVuesConnectionString1"
            connectionString="Data Source=(local);Initial Catalog=AIUBVues;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>