@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="about-us">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Successful</h2>
            <p class="lead">You have successfully posted your advertise with images. click <a href="@Url.Action("Index", "ItemList", new { id=Session["username"].ToString() })">Here</a> to view your advertise.</p>
        </div>
    </div>
</section>
