@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="about-us">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Message Sent</h2>
            <p class="lead">Thank you for your Feedback. We hope, you liked our Website. Click <a href="@Url.Action("Index","Contact")">here</a> to go back.</p>
        </div>
    </div>
</section>
